@import "../../../utils/mixins";
@import "../../../utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.detail-page {
  margin-top: 30px;
  padding: 15px 10px;
  overflow-x: hidden;
  .detail-page-main {
    .main-address {
      margin: 0 auto;
      flex-direction: column;
      .main-address__image {
        margin: auto;
        margin-bottom: 20px;
        @include flex-center;
        max-height: 500px;
        width: 450px;
        height: 450px;
        border: 1px solid #dcdcdcad;
        border-radius: 10px;
        img {
          border-radius: 10px;
          width: 100%;
          object-fit: cover;
          padding: 3px;
        }
      }

      .main-address__addr {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: auto;
        width: 80%;
        max-width: 90%;
        padding: 10px;

        a {
          margin-left: 20px;
        }

        .main-address__addr-username {
          font-weight: 600;
          .__icon {
            font-weight: 600;
            justify-content: space-between;
          }
        }

        .main-address__addr-usercity {
        }
      }
    }

    .main-info {
      .main-info__category {
        padding: 0 10px;
        display: inline;
        background-color: #76a188;
        margin-bottom: $margin-bottom;
        color: #fff;
        font-weight: 500;
      }
      .main-info__name {
        margin: 20px 0;
      }

      .main-info__stock-weight {
        margin-bottom: $margin-bottom;
        display: flex;
        flex-direction: column;

        .__stock {
          align-items: center;
          display: flex;
          h6 {
            margin-bottom: 0;
          }
          margin-right: 50px;
        }

        .__weight {
          align-items: center;
          display: flex;
          h6 {
            margin-bottom: 0;
          }
        }
      }

      .main-info__price {
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        font-weight: 600;
        margin-bottom: $margin-bottom;

        h6 {
          color: #000;
          font-size: 2.2rem;
        }
        span {
          font-style: italic;
          color: #0000003f;
          font-size: 1.5rem;
          text-align: left;
          padding-top: 10px;
        }
      }

      .main-info__size {
        margin-bottom: $margin-bottom;

        ul {
          padding-left: 0;

          .item {
            margin-top: 10px;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 20px;
            border: 1px solid;
            padding: 2px 10px;
            font-size: 0.8rem;
            cursor: pointer;

            &.active {
              border: 1px solid blue;
              font-weight: 500;
              color: blue;
            }
          }
        }
      }
    }

    .main-order {
      .main-order-body {
        border: 1px solid;
        margin: 50px;
        padding: 20px;

        .main-order-title {
          width: 100%;
          font-size: 1.5rem;
          border-bottom: 1px solid #000;
          margin-bottom: 10px;
          padding-bottom: 5px;
        }

        .main-order__quantily {
          margin-bottom: 5px;
          .item-control {
            display: flex;
            align-items: center;
            justify-content: end;

            .control {
              cursor: pointer;
              padding: 3px 10px;
              text-align: center;
              border-radius: 5px;
              border: 1px solid #ccc;
            }

            .count {
              width: 15%;
              text-align: center;
              margin: 0 10px;
              padding: 0;
              margin-bottom: 5px;
            }
          }
        }

        .main-order__size {
          text-transform: uppercase;
        }

        .main-order__vat,
        .main-order__size,
        .main-order__price {
          margin-bottom: 10px;
        }

        .main-order__notes {
          width: 100%;
          margin-bottom: 20px;

          h6 {
            margin-bottom: 5px;
          }

          textarea {
            min-height: 100px;
            height: 100px;
            max-height: 250px;
            width: 100%;
            border: 1px solid #bababa;
            border-radius: 5px;
          }
        }

        .main-order__sub-total {
          margin-bottom: 20px;
          border-top: 1px solid;
          border-bottom: 1px solid;
          border-color: #bababa;
          padding: 5px 0;

          .text-title {
            font-size: 1.5rem;
            font-weight: 700;
          }

          h6 {
            color: #000;
          }
        }

        span.text-title {
          color: rgb(0, 0, 0);
          font-weight: 600;
          font-size: 1.15rem;
        }

        h6 {
          text-transform: none;
        }
      }
    }
  }
}
a {
  text-decoration: none;
  color: #000;
}
h6 {
  margin-bottom: 0;
  margin-right: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000a3;
  font-family: "Open Sans", sans-serif;
}
