// Biến màu sắc
$primary-color: #e6e3e6;
$secondary-color: #2ecc71;
$text-color: #333;
$font-size-title: 1.1rem;

// Biến kích thước
$container-width: 1200px;
$padding: 16px;
$margin-bottom: 20px;
$margin-bottom-component: 50px;
