.deal-card__header {
  width: 100%;
  padding: 15px 0px 15px 15px;
  background-color: #ececec8a;
  margin-left: 0;

  .header-pagination {
    text-align: end;

    .header-pagination__prev,
    .header-pagination__next {
      cursor: pointer;
      padding: 7px;
      color: #000;
      background-color: #dddddd;
      margin-left: 10px;
    }
  }
}
